extends ../shared/template

block content
  #profile
    table
      thead
        tr
          th= owner.username
          if (distance || distance === 0) && locals.user
            if locals.user._id.toString() !== owner._id.toString()
              th - #{distance.toFixed(2)} miles from you
      tbody
        tr
          td
          td