doctype html
html
  head
    meta(charset='utf-8')
    - title = 'Block Storm' + (title ? ': ' + title : '');
    title= title
    link(href='/less/app.css', rel='stylesheet')
  body
    nav
      #header
        h1#nav-title Block
          span Storm
      #menu-items
        .left
          ul
            li: a(href='/') Home
            li: a(href='/about') About
            li: a(href='/about#rules') Rules
            li: a(href='/about#controls') Controls
            li: a(href='/users') Users
            li: a(href='/games') Games
        .right
          ul
            if locals.user
              li: form(method='POST' action='/logout')
                a#logout(href='#') Logout
              //- li: a(href='#messageModal') Messages
            else
              li: a(href='#loginModal') Login
              li: a(href='#registerModal') Register

    #messageModal.modal
      div
        h2 Message
        if locals.lastChats
          each message, index in locals.lastChats.messages
            if index
              hr

            - var chatPartner;
            - locals.lastChats.partners.forEach(function(partner){
            -   if(partner._id.toString() === message.senderId.toString() || partner._id.toString() === message.recipientId.toString()){
            -     chatPartner = partner;
            -   }
            - });
            p #{chatPartner.username} - #{message.body}
        else
          p You have no messages

    #loginModal.modal.white
      div
        h2 Login
        include ../users/loginForm
        p Not yet a member? 
          a(href='#registerModal') Create an account

    #registerModal.modal.black
      div
        h2 Register
        include ../users/registerForm
        p Already a member? 
          a(href='#loginModal') Login here

    if messages.message
      #message= messages.message
    #page-wrap
      block content

    #footer
      span Block Storm is a 2-player socket-driven HTML/Javascript game created by 
        span.author Carter Nelms
        |  for his capstone project at Nashville Software School - 2014

    script(src='/js/vendor/jquery-2.1.1.js')
    script(src='/js/vendor/lodash-2.4.1.js')
    script(src='/js/vendor/moment-2.6.0.js')
    script(src='/js/vendor/traceur.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/es5/main.js')
    script(src='/js/es6/compiled/main.js')
    //- script(src='/js/es6/compiled/sockets.js')
    if !locals.user
      script(src='/js/es6/compiled/login.js')

    block scripts
