extends ../shared/template

block content
  h1 Games

  if locals.user
    label Begin a Game
    form(method='POST' action='/games')
      label Choose Your Role
      select(name='isHostHero')
        option(value=1) Hero
        option(value=0) Wizard
      input(name='userId' type='hidden' value=locals.user._id.toString())
      button.white Start

  #games
    table
      thead
        tr
          th(colspan=2) Username
          th Open Role
          th Distance (miles)
      tbody
        each game in games
          -var usr = users.find(function(u){return u._id.toString() === game.hostId.toString();});
          tr
            td= usr.username
            td: form(method='POST' action='/games/#{game._id}')
              button Join
            td= game.openRole
            td ---
            //- if locals.user
            //-   td= locals.user.distance(urs)